<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
  </head>
  <body>
    <div id="root">
      <div id="wrapper" >
        <div class="album" v-for="album in albums" v-if="album.genre == selected || selected=='All'" >
          <img :src="album.poster" alt=""
          >
          <h3 >{{ album.title }}</h3>
          <div class="low-specs">
            <p>{{ album.author }}</p>
            <p>{{ album.year }}</p>
          </div>
        </div>
      </div>
      <select class="genres" name="" v-model="selected"  @click="albumGenre">
        <option value="All">Tutti</option>
        <option v-for="category in genres" :value="category">
          {{ category }}
        </option>
      </select>
      <button type="button" name="button" @click="sortYear('year')">Ordina per anno</button>
    </div>

    <script src="js/script.js" charset="utf-8"></script>

  </body>
</html>
